.dark{
  $base-color-1: #21263c;
  $base-color-2: #fdfffd;
  $base-color-3: #fff;
  $base-color-4: #434343;
  $base-color-5: #ccc;
  $white: #ffffff;
  .link:hover {
    text-decoration-line: none;
  }
  .theme-header{
    .header-logo{
      background-color: $base-color-1;
    }
  }
  .theme-container{
    $hoverColor: $base-color-4;
    $bgcolor: $white;
    .theme-container-menus{
      color: $base-color-2;
      background-color: $base-color-2;
      .el-menu{
        background-color: $base-color-3;
      }
      .el-menu-item {
        text-align: left;
        background: $white;
        color: $base-color-1;
        i {
          color: $base-color-1;
        }
      }
      .el-menu-item:hover {
        color: $white;
        i {
          color: $white;
        }
        background: $hoverColor;
      }
      .el-menu-item.is-active {
        color: $white;
        i {
          color: $white;
        }
        background: $hoverColor;
      }
      .el-submenu__title i{
        color: $base-color-1;
      }
      .el-submenu__title:hover{
        color: $base-color-2;
        background-color: $hoverColor;
        i {
          color: $white;
        }
      }
    }
    .theme-container-box{
      .container-content{
        background-color: $base-color-3;
        box-shadow: 0px 5px 5px 0px $base-color-5;
        .home-container{
          .container-search{
            color: $base-color-3;
            background-color: $base-color-2;
            border-radius: 0.5rem;
            .search-container{
              form{
                .search-box{
                  .search-input{
                    border-color: $base-color-1;
                  }
                }
                .search-btn{
                  background-color: $base-color-1;
                  color: $base-color-2;
                }
              }
            }
          }
        }
      }
    }
  }
  .theme-footer{
    background-color: $base-color-4;
    color: #fff;
  }
}
